body {

}

h1 {

}

h3 {
    background-color: cadetblue ;
}

/* unvisited link and visited */
a:link, a:visited {
    color: darkblue;
    text-decoration: none;
    background-color: cornflowerblue;
    display: inline-block;
}

/* mouse over link and selected link */
a:hover, a:active {
    color: red;
    text-decoration: underline;
    background-color: lightgreen;
}
